body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    float: left;
    margin-left: -10px;
}

nav{
    background: #ffbdc9;
    background: #fff;
    border-radius: 50px; padding: 10px; 
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    height: 60px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
   position: relative;
    z-index: 2;
    margin-top: -30px;
    margin-left: 0%;
    }
    nav ul li::after{
        content: '';
        background: #f44566;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        opacity: 0;
        transition: top 0.5s, opacity 0.5s;
        }
        nav ul li:hover{
            color: #fff;
            }
            nav ul li:hover::after{ opacity: 1;
            top: 50%;
            }
a{
    color: black;
}
#h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #F55050; 
    line-height: 70%; 
    border-color: black;
}
#h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #F48484; 
    line-height: 70%;
}
.button {
    padding: 10px 40px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #F48484;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #666;
  }
  
  .button:hover 
  {
    background-color: #666;
  }
  
  .button:active {
    background-color: #666;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#myimg{
    float:left;
}
#myp{
    font-family: Segoe UI;
}
#mylink{
    color:white;
}
#mybody{
    background-color:#2c3c6c;
}
#mybody2{
    background-color: #d3bbdb;
}
#h7{
    color:black;
}
#mybody2{
    background-color: #d3bbdb;
}
#mybody3{
    background-color: white;
}
#white{
    color: black;
}
#h72
{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#myp2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color:  #31c5fe;  
    border-color: black;
    font-size: larger;
}
#hr{
    width: 100px;
    height: 2px;
    border: 2px solid #F55050;
    border-radius: 1px;
}
.buttont {
    padding: 0px 90px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #31c5fe;
    border: none;
    border-radius: 9px;
  }
  
  .buttont:hover 
  {
    background-color: #F48484;
  }
  
  .buttont:active {
    background-color: #F48484;
    transform: translateY(4px);
}