body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    float: left;
    margin-left: -10px;
}

nav{
    background: #ffbdc9;
    background: #fff;
    border-radius: 50px; padding: 10px; 
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    height: 60px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
   position: relative;
    z-index: 2;
    margin-top: -30px;
    margin-left: 0%;
    }
    nav ul li::after{
        content: '';
        background: #f44566;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        opacity: 0;
        transition: top 0.5s, opacity 0.5s;
        }
        nav ul li:hover{
            color: #fff;
            }
            nav ul li:hover::after{ opacity: 1;
            top: 50%;
            }
a{
    color: black;
}
#h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #F55050; 
    line-height: 70%; 
    border-color: black;
}
#h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #F48484; 
    line-height: 70%;
}
.button {
    padding: 10px 40px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #F48484;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #666;
  }
  
  .button:hover 
  {
    background-color: #666;
  }
  
  .button:active {
    background-color: #666;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#myimg{
    float:left;
}
#myp{
    font-family: Segoe UI;
}
#mylink{
    color:white;
}
#mybody{
    background-color:#2c3c6c;
}
#mybody2{
    background-color: #d3bbdb;
}
#h7{
    color:black;
}
#mybody2{
    background-color: #d3bbdb;
}
#mybody3{
    background-color: white;
}
#white{
    color: black;
}
#h72
{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#myp2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color:  #31c5fe;  
    border-color: black;
    font-size: larger;
}
#hr{
    width: 100px;
    height: 2px;
    border: 2px solid #F55050;
    border-radius: 1px;
}
.buttont {
    padding: 0px 90px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #31c5fe;
    border: none;
    border-radius: 9px;
  }
  
  .buttont:hover 
  {
    background-color: #F48484;
  }
  
  .buttont:active {
    background-color: #F48484;
    transform: translateY(4px);
}

/*about section */


.aboutmain {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

.aboutus {
  font-size: 46px;
  color: #F55050;
  margin-bottom: 20px;
}

.ab {
  font-size: 18px;
  line-height: 1.5;
}

.aboutfooter {
  background-color: #F48484;
  color: #fff;
  padding: 10px;
  text-align: center;
}
/*about ends here */

/*contact section starts here */

#contact {
    background-color: #ffffff;
    padding: 80px 0;
  }
  
  #contact h2 {
    margin-top: -100px;
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
    color: #F55050;
  }
  
  .contactdes{
    font-size: 21px;
  }
  .contact-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .contact-option {
    text-align: center;
    margin-bottom: 50px;
    max-width: 350px;

  }
  
  .contact-option i {
    font-size: 60px;
    margin-bottom: 20px;
    color: #ff6b6b;
    animation: pulse 1.5s infinite;

  }
  
  .contact-option h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-option p {
    font-size: 18px;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  form {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    position: relative;

  }
  
  form input,
  form textarea {
    display: block;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 3px solid #b7afaf;
    background-color: #eceaea;
  }
  
  form input:focus,
  form textarea:focus {
    outline: none;
  }
  
  form button {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  form button:hover {
    background-color: #fff;
    color: #ff6b6b;
    border: 2px
  }
/*contact ends here */
